._content {
background:#000;

._clear{
clear:both;
}

._shop{
background:#fff;
}

.menu{
margin:0px !important;
list-style:none !important;
padding:0px;
}

._topnav{
position:relative;

> div:first-of-type{
cursor:pointer;
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#9d02e2, #5a017f));
@include bar_inner_base;
position:relative;
text-align:left;
font-size:24px;
}

._main_menu_drop{
background: #000;
padding-top:5px;

}
._icon_category {
@include toggler_btn_icon3;
@extend .sprites-white-plus;
}


> a {
color:#9401d5;
font-weight:bold;
}

._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}

._ditto{
font-size:8px;
color:#9401d5;
font-weight:bold;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;
text-transform:uppercase;
font-size:12px;
}

._product_head{
padding:5px;

._item_title{
margin-top:0px !important;
font-size:16px;
color:#9401d5;
text-align:left;
}

._item_price{
color:#04af01;
text-align:left;
font-size:24px;
margin-bottom:5px;
}

}

._product_image {

> a{
color:#666;
text-decoration:underline;

> img{
border:2px solid #666;
width:200px;
height:267px;
}

}

._product_image + a{

}
}

._meta{

ul{
list-style:none;
text-align:left;

li{
color:#666;
display:inline;

a{
color:#666;
text-decoration:underline;
}

}
}
}

._product_body{
padding:5px;
> p {
text-align:left;
}

> ul {
text-align:left;
list-style-type:dash;
}

}

._share{
position:relative;
border-top: 2px solid #000;
text-align:left;
padding-left:5px;
color:#666;
font-size:18px;
font-weight:bold;

._share_bar{

> div {
display: inline-block;
padding-top: 3px;
margin-left:15px;
height:27px;
cursor:pointer;
}

._first{
margin-left:0px;
}

}
}

._add_to_cart{
padding:5px;

> div {
border-top:2px solid #000;
border-bottom:2px solid #000;
}

.attributes{
border-bottom:none;
}
}

._get_low {
text-align:left;
padding:5px;

> label{
display:block;
font-size:18px;
font-weight:bold;
color:#666;
}

> select{
width: 200px;
height: 30px;
font-size: 18px;
font-wieght:bold;
background:#000;
color:#fff;
}
}

._get_down {
text-align:left;
padding:5px;

> label{
display:block;
font-size:18px;
font-weight:bold;
color:#666;
}

> input{
background:#000;
color:#fff;
width:150px;
height:30px;
font-weight:bold;
font-size:18px;
}

}

._take_that{
width:95%;
height:50px;
@include background(linear-gradient(#9d02e2, #5a017f));
@include bar_inner_base;
font-size:24px;
color:#fff;
margin:5px auto 0;
padding:10px;
border:none;
text-transform:uppercase;
cursor:pointer;
display:block;
}

._u_wish{
width:95%;
height:50px;
@include background(linear-gradient(#9d02e2, #5a017f));
@include bar_inner_base;
font-size:24px;
color:#fff;
margin:5px auto 0;
padding:10px;
border:none;
text-transform:uppercase;
cursor:pointer;
display:block;
}

._categoryfooter {
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#5d5c58, #3a3937));
@include bar_inner_base;
padding:0px ;
margin:0px !important;
cursor:pointer;

> a{
 position:relative;
 @include bar_inner_base;
 
} >div {
text-align:left;
 position:relative;
 @include bar_inner_base;
 
 ._icon_category {
@include toggler_btn_icon;
@extend .sprites-white-plus;
}

}
}

._subcategoryfooter{
> a{
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;
._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}
}

 ._category{
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#9d02e2, #5a017f)); 
color:#fff; 
@include bar_inner_base;
margin:0px !important;
padding:0px;
> a{
position:relative;
@include bar_inner_base;
}

&[data-ur-toggler-component="button"]{ 

> div{
text-align:left;
position:relative;
@include bar_inner_base; 
cursor:pointer;

 ._icon_category {
@include toggler_btn_icon;
@extend .sprites-white-plus;
}

}  
}
}

._subcategory{

> a{
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;

._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}
}

}