// Every page should have a class on the body
// Scope that in each file at the start
._search {
background:#000;


._clear{
clear:both;
}

.hidden{
display:none;
}
dd{
margin:0px;
}

.menu{
margin:0px !important;
list-style:none !important;
padding:0px;
}

._topnav{
position:relative;

> div:first-of-type{
cursor:pointer;
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#9d02e2, #5a017f));
@include bar_inner_base;
position:relative;
text-align:left;
font-size:24px;
}

._main_menu_drop{
background: #000;
padding-top:5px;
}

._icon_category {
@include toggler_btn_icon3;
@extend .sprites-white-plus;
}


> a {
color:#9401d5;
font-weight:bold;
}

._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}


._ditto{
font-size:8px;
color:#9401d5;
font-weight:bold;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;
text-transform:uppercase;
font-size:12px;
}

._bottommneu{
clear:both;
margin-top:20px;
}

._categoryfooter {
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#5d5c58, #3a3937));
@include bar_inner_base;
padding:0px ;
margin:0px !important;
cursor:pointer;

> a{
 position:relative;
 @include bar_inner_base;
} >div {
text-align:left;
 position:relative;
 @include bar_inner_base;
 
 ._icon_category {
@include toggler_btn_icon;
@extend .sprites-white-plus;
}

}
}

._subcategoryfooter{

> a{
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;

._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}
}

.search-snippet{
background:#fff;
text-align:center;
margin: 5px 0px;
}

.search-info{
display:none;
}


._section_title{
color:#9401d5;
text-transform:uppercase;
font-weight:bold;
background:#fff;
margin:0px;
padding:15px;
min-height:140px;
text-align:center;

img {
float:left;
margin-right: 20px;
width:105px;
height:140px;
}

}

._shop{
background:#fff;
}

._rows{
clear:both;
border-top:5px solid #000;
min-height:140px;
}

._item_image{
background:#fff;
}

._item_image .field-content{
position:relative;
clear:both;
color:#666;



._item_title a{
color:#666;
}

._item_price {
font-weight:bold;
font-size:16px;
}

}

._paging{

clear:both;
border-top:4px solid #000;
background:#fff;
>ul {
list-style:none;
margin:10px !important;
padding:5px;
text-align:center;

> li {
display: inline;
color:#9d02e2;
height:50px !important;
border:2px solid #9d02e2;
padding:5px;
background:#ccc;
margin:10px;
> a{
color:#9d02e2;
font-size:12px;
font-weight:bold;
display:inline;
background:#ccc;
line-height: 35px;
}
}
}
}

 ._category_title{
border-bottom: #000;
border-top: 1px solid #000;
@include background(linear-gradient(#9d02e2, #5a017f)); 
color:#fff; 
@include bar_inner_base;
margin:0px !important;
padding:0px;
> a{
position:relative;
@include bar_inner_base;
}

&[data-ur-toggler-component="button"]{ 

> div{
text-align:left;
position:relative;
@include bar_inner_base; 
cursor:pointer;

 ._icon_category {
@include toggler_btn_icon;
@extend .sprites-white-plus;
}

}  
}
}

._subcategory{

> a{
font-weight:bold;
color:#fff;
border-bottom: #000;
border-top: 1px solid #000;
background: #320047;
@include bar_inner_base;
position:relative;
text-align:left;

._icon_subcategory {
@include toggler_btn_icon2;
@extend .sprites-white-arrow-right;
}

}
}

.form-submit{
width:95%;
height:50px;
@include background(linear-gradient(#9d02e2, #5a017f));
@include bar_inner_base;
font-size:24px;
color:#fff;
margin:5px auto 0;
padding:5px;
border:none;
text-transform:uppercase;
cursor:pointer;
}

._search_title{
min-height:20px;
}

}