header#mw_header {
  height:99px;
  position:relative;
  background:#000;
 margin-bottom:5px;
  
._icons_bar{
position: absolute;
top: 21px;
left: 160px;
background:#000;
opacity: .8;
border-radius:5px;
border:#8301bd 1px solid;
border-bottom:none;
z-index:0;

> span + span + span{
top:-4px;
position:relative;

}

> span + span{
border-left:#8301bd 1px solid;
border-right:#8301bd 1px solid;
position:relative;

}

> span {
width: 25px;
height: 22px;
display: inline-block;
border-bottom:#8301bd 2px solid;
padding:3px;
top:-6px;

> div {
display: inline-block;
position:relative;
top:3px;
cursor:pointer;
}
}
} 

.sprites-white-cart{


} 

.sprites-white-info{


} 

.sprites-white-search{

}

#mw_top{
@include background(linear-gradient(#4d0b6c, #36074b)); 
height:50px;

#mw_logo{
position:absolute;
top:0px;
left:0px;
}
}



#mw_info{
position:relative;

._info_tab{
background:#000;
border:1px solid #000;
position:absolute;
top:-5px;
left:193px;
z-index:5;
}
}

#mw_cart{
position:relative;
> a{
color:#F2DD70;
text-decoration:underline;
}

._cart_tab{
background:#000;
border:1px solid #000;
position:absolute;
top:-5px;
left:226px;
z-index:5;
}

}

#mw_bottom{
border-top:#8301bd 2px solid;
border-bottom:#8301bd solid 2px;
min-height:49px;
z-index:4;

._search_tab{
background:#000;
border:1px solid #000;
position:absolute;
top:-3px;
left:161px;
z-index:5;
}

> div{
color:#fff;
font-weight:bold;
text-align:left;
padding:5px;
font-size:14px;
}

._search{
position:absolute;
bottom:10px;
text-align:center;


> div {
display:inline;
margin-left: 10px;


.form-text{
width:190px;
height:20px;
border-radius: 5px;
text-align:left;
font-size:14px;
background:#9502d4;
color:#da6afd;
border-color:#000;
border:none;
padding-left:5px;
}

}

.form-submit{
color:#fff;
width:40px;
height:25px;
border-radius: 5px;
@include background(linear-gradient(#9d02e2, #5a017f));
font-size:14px;
text-transform:uppercase;
margin-left:5px;
cursor:pointer;
border:none;
position:relative;
bottom:-2px;
display:inline;
}

}
}



}